<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Expired</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <style>
    .message-wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f8ff;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }

    .message-box {
      background-color: white;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      max-width: 600px;
    }

    .expired-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: #333;
    }

    .expired-image {
      width: 220px;
      height: 218px;
      border-radius: 12px;
    }
  </style>
  <body>
    <div class="message-wrapper">
      <div class="message-box">
        <h1 class="expired-title">
          Sorry, your file was deleted from existence because you took too long.
          Be faster next time
        </h1>
        <img
          src="/images/peace-out-disappear.gif"
          alt="Expired"
          class="expired-image"
        />
      </div>
    </div>
  </body>
</html>
